* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin: 10%;
}

th,
td {
    padding: 15px;
}

thead:first-child {
    background: #888888;
    color: #fff;
}

tbody tr:nth-child(even) {
    background: #efefef;
}

tbody tr:nth-child(odd) {
    background: #c0c0c0;
}

tr:nth-child(3) td:nth-child(2) {
    background: #ffbbbb;
}

tr:nth-child(6) td:nth-child(2) {
    background: #ffbbbb;
}