table {
    margin: 10% auto;
    width: 300px;
    height: 200px;
    
}

th {
    color: white;
    background-color: #888888;
    text-align: left;
    padding: 7px;
}

td {
    padding: 7px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #c0c0c0;
}

tr:nth-child(odd) {
    background-color: #efefef;
}

tr:nth-last-child(3n-2) td:nth-child(even) {
    background-color:#ffbbbb;
}

/* tr:nth-last-child(4) td:nth-child(even) {
    background-color:#ffbbbb;
} */
